body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: aliceblue;
    text-align: center;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

.seat-container {
    margin: 20px;
}

.seats {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 15px;
    justify-content: center;
}

.seat {
    background: #27ae60;
    color:white;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.seat:hover {
    background: green;
}

.seat.selected {
    background:yellow;
    color: black;
}

.seat.booked {
    background: red;
    cursor: not-allowed;
}

.summary {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: brown;
}


